<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basic Angular App</title>
  <link rel="stylesheet" href="accordion.css">
</head>
<body data-ng-app="demoApp">
  <main>
    <button class="accordion">Jawa Section</button>
      <div class="panel">
        <section id="jawa-content" data-ng-controller="JawasController as jawasctrl" data-ng-init="jawasctrl.getAll()">
          <jawa-form
            data-crud="create"
            data-jawa="jawasctrl.newJawa">
          </jawa-form>

          <ol id="jawalist">
            <jawa-list-item data-ng-repeat="jawa in jawasctrl.jawas" data-jawa="jawa">
              <jawa-form
                data-ng-if="jawa.editing"
                data-button-text="Update Jawa"
                data-crud="update"
                data-jawa="jawa">
              <button data-ng-click="jawasctrl.cancelJawa(jawa)">Cancel</button>
              </jawa-form>
            </jawa-list-item>
          </ol>
        </section>
      </div>

    <button class="accordion">Droid Section</button>
      <div class="panel">
        <section id="droid-content" data-ng-controller="DroidsController as droidsctrl" data-ng-init="droidsctrl.getAll()">
          <droid-form
            data-crud="create"
            data-droid="droidsctrl.newDroid">
          </droid-form>

          <ol id="droidlist">
            <droid-list-item data-ng-repeat="droid in droidsctrl.droids" data-droid="droid">
              <droid-form
                data-ng-if="droid.editing"
                data-button-text="Update Droid"
                data-crud="update"
                data-droid="droid">
              <button data-ng-click="droidsctrl.cancelDroid(droid)">Cancel</button>
              </droid-form>
            </droid-list-item>
          </ol>
        </section>
      </div>

    <div data-ng-controller="JawasController as jawasctrl">
      <h1>TOTAL: {{ jawasctrl.counter.count }}</h1>
    </div>
 
    <article class="article">
      <h2 class="facts">Jawa Facts</h2>
      <p class="info">What Jawas hid underneath their heavy robes was subject to much speculation from the colonists who settled on Tatooine, with rumors claiming they were giant rodents or de-evolved humans. Although Jawas were typically small, measuring only one meter, some of them were significantly taller than that. One of those abnormally gangly Jawas was almost as tall as a 3PO unit, a model of protocol droid measuring 1.71 meters.</p>
      <p class="info">Jawas were passionate scavengers, combing the deserts of Tatooine for droids or scraps which they would capture and sell to the local residents, forming a codependent circle of trade. However, they had a reputation for swindling, selling hastily refurbished equipment and faulty droids. Thus, moisture farmers were wary of their goods, but they often purchased them due to being hard-pressed to find a better selection in their remote locations. Jawas could create specialized "monster droids" made up of various parts from a variety of droids.</p>
      <h2 class="facts">Droid Facts</h2>
      <p class="info">Droids, less commonly known as robots, were mechanical beings that possessed artificial intelligence. They were used in a variety of roles and environments, often those considered too menial or too dangerous for other species, but also in fields that required extensive specialization and knowledge.</p>
      <p class="info">Droids existed as far back as the earliest days of the Jedi Order, which was founded over 5,000 years before the Clone Wars. One such ancient droid, Professor Huyang, served the Jedi for several millennia. During the pan-galactic conflict known as the Clone Wars, the Confederacy of Independent Systems used a variety of war droids in its fight against the Galactic Republic. Ultimately, the Republic won the war and was replaced by an authoritarian Galactic Empire. Under the new regime, many people in the galaxy were afraid or otherwise distrustful of droids, due to their bad memories of the war.</p>
    </article>
  </main>
  <script src="./bundle.js"></script>
</body>
</html>
