$font: Helvetica, sans-serif;

html {
  background: linear-gradient(
    to bottom,
    rgba(178, 197, 205, 1),
    rgba(89, 140, 155, 1),
    rgba(117, 157, 170, 1),
    rgba(182, 199, 206, 1),
    rgba(178, 197, 204, 1)
  );
}

body {
  padding: 0;
  min-width: 320px;
  max-width: 1040px;
  font-family: $font;
  font-size: 1.3em;
}

section {
  margin: 2% 5%;
}

button {
  font-size: .8em;
  background-color: #5B8999;
  font-weight: bold;
  display: inline-block;
  padding: 0 5px;
  border-radius: 10px;
  border-color: solid 2px #000066;
}

li {
  padding-left: 2%;
  font-size: 1em;
}

input {
  font-size: .8em;
}

button.accordion {
  background-color: #BFB56A;
  border-color: 4px solid black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  transition: 0.4s;
  &.active, &:hover {
    background-color: #809946;
  }
}

div.panel {
  padding: 0 18px;
  background-color: #BFBEB8;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
  &.show {
    opacity: 1;
    max-height: 800px;
  }
}
